

#main {
  text-align: left;
  justify-items: auto;
}

.sell {
  padding: 3.25rem 11.75rem 9.75rem 11.75rem;
}

.sell h1 {
  margin-bottom: 1rem;
  font-size: inherit;
	text-align: center;
	color: hsla(0, 0%, 13%, 1);
	padding-bottom: 30px;
  
}

form {
  display: grid;
  grid-template-areas: 'name name price quantity'
                       'description description description description'
                       '. . . submit';
  font-size: inherit;
  background-color: hsla(0, 0%, 19%, 1);
  padding: 30px;
  grid-row-gap: 30px;
  grid-column-gap: 15px;
}

input {
  min-width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  color:#ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
}

select {
  background-color: hsla(0, 0%, 100%, 1);
  font-size: inherit;
}

textarea {
  min-height: 12rem;
  font-size: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
input[type="submit"] {
  cursor: pointer;
  height: auto;
  width: auto;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 2px solid #0692C1;
  outline: none;
}

#name {
  grid-area: name;
}

#price {
  grid-area: price;
}

#quantity {
  grid-area: quantity;
}

#description {
  grid-area: description;
}

#submit {
  grid-area: submit;
  justify-self: end;
}

@media only screen and (max-width: 1100px) {
  .sell {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 970px) {
  form {
    grid-template-areas: 'name name'
                         'price quantity'
                         'description description'
                         '. submit';
  }
}

@media only screen and (max-width: 660px) {
  form {
    grid-template-areas: 'name'
                         'price'
                         'quantity'
                         'description'
                         'submit';
  }

  #submit {
    justify-self: center;
  }
  #main.sell h1 {
	font-size: 50px;	
	}
}